.cart-btn + ol {
  position: absolute;
  display: none;
  margin-left: -7rem;
}

.cart-btn:hover + ol {
  display: block;
}

.pointer-none{
    pointer-events: none;
}

.banner-container{
    display: flex;
    flex-wrap: wrap ;
    gap: 1.5rem;
    justify-content: center;
}

.banner-container.banner{
    flex: 1 1 40rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.banner-container.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
