.cart-btn + ol {
  position: absolute;
  display: none;
  margin-left: -7rem;
  background-color: aquamarine;
  width: 10%;
  border-radius: 20px;
  padding: 5px;
}

.cart-btn:hover + ol {
  display: block;
}

.list {
  display: flex;
}

.footer {
  display: flex;
}

.footer div {
  width: 10%;
}

.pointer-none {
  pointer-events: none;
}

@media (max-width: 600px) {
  .list {
    display: block;
    width: 100%;
  }

  .container-list {
    width: 100%;
  }

  .footer {
    display: block;
  }

  .footer div {
    width: 100%;
  }
}
